
.nav-link {
    text-decoration: none;
    margin-right: 1rem;
}

.link{
    background-image: url('/public/images/baniere.svg');
    background-size: 100% 100px;
    top: 0;
    height: 100px;
    z-index: 1;
    transform: scale(1,1);
    background-color: transparent;
}

.link article {
    padding: 7rem 0;
}